.form-container {
    display: flex;
    justify-content: center;
  }
  
  .form-container form{
    display: flex;
    flex-direction: column;
    gap:20px;
  
    border: #00bfff 2px solid;
  
    padding: 15px;
  }
  
  .form-container form div{
    display: flex;
    flex-direction: column;
  }
  
  .form-button {
    color: violet;
    background-color: #1F1F1F;}